<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148546189114-ap2sd5nugapctob011gljdhhbb9hgolb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148546189114-ap2sd5nugapctob011gljdhhbb9hgolb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>148546189114-md24c87cdokd0hrpr8gr0oq8ad1t6kh1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtZOnmuPixPA7PPPzE8OlGibWKR7K4Oto</string>
	<key>GCM_SENDER_ID</key>
	<string>148546189114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wewilldevelopitlater.readability</string>
	<key>PROJECT_ID</key>
	<string>readability-wwdil</string>
	<key>STORAGE_BUCKET</key>
	<string>readability-wwdil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148546189114:ios:8e23597976e6a7c1</string>
	<key>DATABASE_URL</key>
	<string>https://readability-wwdil.firebaseio.com</string>
</dict>
</plist>